<!-- templates/base.html"-->
{% load static %}

<html>
<head>
    <title>Sully's Brain</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" >
</head>

<header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">Sully's Brain</a></h1> 
    </div> 
    <div class="nav-right">
        <a href="{% url 'post_new' %}">+ New Blog Post</a>
    </div>
</header>

<div>
    <!-- start new HTML... -->
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a> | 
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <!-- end new HTML... -->
    {% block content %}
    {% endblock content %}
</div>

<br><br>
<b>copyright 2023. all rights reserved.</b>
</html>



